<div class="body-container">
    <div class="wrapper">
        <div class="static-txt">
          <h3>Learn To</h3> </div>
        <ul class="dynamic-txts">
          <li><span>Inspire.</span></li>
          <li><span>Think.</span></li>
          <li><span>Track.</span></li>
          <li><span>Transform.</span></li>
        </ul>
      </div>

      <div class="video-container">
        <video autoplay muted loop class="background-video">
          <source src="/assets/video/manwitharrow.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

</div>